$myColors:(
    primary:#542f91,
    focus:#6135a8,
    accent:#dac01a,
    searchHov:#f4d318,
    backlight:#c1c1c0,
    dark: rgba(0, 0, 0, 0.5),
    light: #fff
);
//variables
$padding:10px;
$navElementWidth:140px;
$desktop:840px;
$tablet:500px;
$mobile:300px;


//mixins
 @mixin mobile {
    @media(min-width: #{$mobile}){
        @content;
    }
}
@mixin tablet {
    @media(min-width: #{$tablet}){
        @content;
    }
}
@mixin desktop {
    @media(min-width: #{$desktop}){
        @content;
    }
} 

body,html{
    height:100%;
    margin: 0;
    
}
body{
    background-color: map-get($myColors, backlight );
    header{
        height: auto;
        background-color:map-get($myColors, primary );
        
        
        nav,.inputGroup{
            text-align: center;
        }
        nav{
            @include tablet{
                position: absolute;
            }
        }
        .inputGroup{
            height:43px;
            @include tablet{
                text-align: end;
            }
        }
        .navbarLogo:hover{
            background-color: map-get($myColors, focus )
        }
        .navbarLogo{
            display: inline-block;
            width: $navElementWidth;
            height: 35px; 
            padding: 12px 15px;
            background-image: url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/images/logos/HolidayExtras-logo-horizontal-transparent.svg);
            @include tablet{
                width:70px;
                background-image:url(https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/images/logos/HolidayExtras-logo-stacked-transparent.svg);
            }
        }
        #tagInput{
            width: 180px;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
        }
       
        #tagInput:focus{
            width: 300px;
        }
        div.inputGroup{
            padding: 8px;
           
        }
        #tagInput,#tagSearch{
            
            display: inline-block;
            border: 1px solid #ccc;
            padding: $padding;
            border-radius: 10px;
            box-sizing: border-box;
        }
        #tagSearch{
            padding-top: 8px;
            background-color: map-get($myColors, accent )
        }
}
}
main{
    .container{
        padding: 0 1em;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        li{
            list-style-type: none;
            div.box-item{
                padding:2*$padding;
                background-color: white;
                max-width:min-content;
                border-radius: $padding;
                box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.2);
                div.box-img {
                    overflow: hidden;
                    height: 15em;
                    
                }
                
                div.box-img img:hover div.box-img::after{
                    background-color: #dac01a;
                }
                
                }
                div.box-content{
                    position: relative;
                }
                a.item-title{
                    
                    margin-right: 2*$padding;
                }
                div.row{
                    overflow: hidden;
                    padding-top: $padding;
                    a{
                        display: block;
                        width: 100%;
                        padding-top:0.5em;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                } 
            }
            div.box-item:hover{
                box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
            }
        }


        

    }
footer { 
        //margin-top: 2rem;
        background: map-get($myColors, dark);
        color: map-get($myColors, light);;
        text-align: center;
        padding: 1rem;
      }

